Screen {
    align: center middle;
    background: $background;
}

FigletWidget {
    padding: 0;
    margin: 0;
    width: 157;
    height: 16;
    background: $background;
}

Footer {
   background: $background;

    & FooterKey {
        background: $background;
        padding-left: 1;

        .footer-key--key {
            color: #0f0;
            background: $background;
        }
    }
}
